.Container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;

}

.Container hr {
    position: absolute;
    left: 0;
    width: 10%;
    /*border: 1px solid #61DBFB;*/

    height: 2px;
    border-width: 0;
    color: #61DBFB;
    background-color: #61DBFB;
}

.Container h1 {
    color: #61DBFB;
}