.NavBar {
    background-color: #181818;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.NavBar li {
    display: inline-block;
    margin: 1.5vw;
}

.NavBar a {
    text-decoration: none;
    color: white;
}

.NavBar a:hover {
    border-bottom: 2px solid #61DBFB;
    color: white;
}

.NavBar .MobileNavigation {
    display: none;
}

@media (max-width: 990px) {
    .NavBar .Navigation {
        display: none;
    }

    .NavBar .MobileNavigation {
        display: flex;
        align-items: center;
    }

    .NavBar .MobileNavigation .Hamburger {
        position: absolute;
        right: 5%;
        cursor: pointer;
        z-index: 2;
    }

    .NavBar nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        right: 0;
        width: 100%;
        background-color: #181818ef;
        border-top: 2px solid #61DBFB;
    }

    .NavBar nav ul li {
        padding-left: 15%;
    }

    .NavBar {
        background-color: #18181800;
        opacity: 1;
    }

    .NavBar a:hover {
        border-bottom: none;
        color: #61DBFB;
    }
}